
@font-face {
    font-family: "pixels"; 
    src: url("VeniceClassic.ttf") format("truetype");
    /* or: */
    src: url("VeniceClassic.ttf") format("opentype"); /
      }

body {
    font-family: 'pixels', 'Times New Roman';
    margin: 0;
    background-color: #222632;
    background-size: 1000px;
    background-image:url('null');
    color: #CFBD9A;
        }

    * {
        box-sizing: border-box;
    }

#container {
    max-width: 900px;
                /* this is the width of your layout! */
                /* if you change the above value, scroll to the bottom
      and change the media query according to the comment! */
    margin: 0 auto;
                /* this centers the entire page */
            }



            /* this is the color of the main content area,
    between the sidebars! */
#header {
    width: 100%;
    background-color: #222632;
    text-align: center;
    padding: 10px;
        }

 main {
    background-color: #222632;
    flex: 1;
    padding: 20px;
    order: 2;
     text-align: center;
        }

h1 {color: #Baa996;}