.title-box{
    display: flex;
    margin: 0;
    background-color: darkgoldenrod; 
    width: 100%;
    height: 55px;
    align-items: center;
}

.center{
    margin: auto;
    width: 60%;
    border: 3px solid red ;
    padding: 10px 25px 10px 25px;
  }

/* .test{
    text-align: center;
    color:black;
    font-size: 50px;
    font-style: italic;
} */


.homepage-navbar-button-link{
    display: inline-block;
    background-color: cornflowerblue;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    color: black;
    font: "Lucida Console";
    margin: 30px;
    cursor: pointer;
}

.navbar-button-link{
    display: inline-block;
    background-color: cornflowerblue;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    font: "Lucida Console";
    color: black;
    margin: 30px;
    cursor: pointer;
}

.homepage-button-image{
    height: 50px;
    width: 50px;
    padding-left: 25px;
}

body{
    background-color: #3e3e42;
    margin: 0;
    padding: 0;
}



p{
    color:white;
    text-align: center;
    font-size: 25px;
}

.paragraph1{
    color:blueviolet;
    font-size: 25px;
}