.InfoBox {
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    width: 100%; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    border: 1px solid #000; /* Optional: add a border for visibility */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: #5a5050; /* Optional: add a background color */
}

.ScoreDisplay {
    font-size: 34px; /* Adjust font size as needed */
    color: #4196aa; /* Adjust text color */
    user-select: none; /* Prevents text selection */
}

.DropsButton {
    position: relative;
    left: -40%;
    width: fit-content;
    height: fit-content;
    padding: 5px 5px 30px 5px;
    background-color: #786e6e;
    border: 2px solid #000;
    font-size: 24px;
    color: #4ba0b4;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.DropsPrice {
    position: absolute;
    text-align: center;
    top: 60%;
    font-size: 24px;
    color: #4ba0b4;
}

.SizeButton {
    position: relative;
    left: -40%;
    width: fit-content;
    height: fit-content;
    padding: 5px 5px 30px 5px;
    background-color: #786e6e;
    border: 2px solid #000;
    font-size: 24px;
    color: #4ba0b4;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.SizePrice {
    position: absolute;
    text-align: center;
    top: 60%;
    font-size: 24px;
    color: #4ba0b4;
}

.ClickBox {
    position: relative;
    background-color: #4196aa;
    width: 100%;
    height: 450px;
}

.RainDrop {
    transition: top 1s ease-in;
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: blue;
}

.DirtBox {
    position: relative;
    top: -15px;
    background-color: rgba(125, 60, 30, 0.8);
    width: 100%;
    height: 100px;
}

