body {
    background-color: rgb(77, 55, 55);
}

.titletext {
    font-family: "Space Mono", monospace;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

.fillertext {
    font-family: "Space Mono", monospace;
    font-size: 18px;
    text-align: left;
}

#box1 {
    background-color: rgba(182, 159, 116, 0.281);
    padding: 5px;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 200px;
    top: 100px;
}

#box2 {
    background-color: rgb(87, 81, 81);
    padding: 5px;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 1000px;
    top: 100px;
}

#box3 {
    background-color: rgb(157, 160, 157);
    padding: 5px;
    width: 60px;
    height: 25px;
    position: absolute;
    left: 50px;
    top: 30px;
    border-style: solid;
    border-color: rgb(39, 37, 37);
}

#box4 {
    background-color: rgb(157, 160, 157);
    padding: 5px;
    width: 60px;
    height: 25px;
    position: absolute;
    left: 120px;
    top: 30px;
    border-style: solid;
    border-color: rgb(39, 37, 37);
}

.button {
    height: 20px;
    width: 20px;

}