body {
    background-color: rgb(77, 55, 55);
}

/* --- */

.table {
    font-family: "Space Mono", monospace;
    border-collapse: collapse;
    width: 40%;
}

.table td,
.table th {
    border: 1px solid #000000;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #c5c2c2;
}

.table tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: rgb(0, 0, 0);
}

/* --- */

.genbox {
    background-color: rgb(130, 130, 130);
    padding: 5px;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 1000px;
    top: 100px;
    border-style: solid;
    border-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- */

.geninf {
    font-family: "Space Mono", monospace;
    background-color: rgb(100, 100, 100);
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180%;
    border-bottom-style: solid;
    border-color: rgb(40, 40, 40);
}

/* --- */

#genST {
    position: absolute;
    width: 70px;
    height: 30px;
    left: 10%;
    top: 15%;
    justify-content: center;
}

/* --- */

#exitbutton {
    position: absolute;
    top: 30%;
    font-size: 30px;
    color: wheat;
    background-color: transparent;
    text-decoration: none;
}

/* --- */

#stellarinfotable,
th,
td {
    text-align: center;
    border: 1px solid black;
    padding: 5px;

    th,
    td {
        background-color: white;
    }
}

/* --- */

#stellarbox {
    position: absolute;
    top: 30px;
    left: 50px;
}

#result_box {
    width: 75px;
    height: 25px;
    text-align: center;
    font-family: "Space Mono" monospace;
}

/* ----- The following CSS-Code is for adding symbols to the generated star values. ----- */

.input-symbol-solar-mass {
    position: relative;
}

.input-symbol-solar-mass input {
    padding-left: 18px;
    vertical-align: 0%;
}

.input-symbol-solar-mass::after {
    position: absolute;
    top: 0;
    content: ' \2609';
    right: 11px;
}

#STmass {
    width: 70px;
}

.input-symbol-solar-temp {
    position: relative;
}

.input-symbol-solar-temp input {
    padding-left: 18px;
    vertical-align: 0%;
}

.input-symbol-solar-temp::after {
    position: absolute;
    top: 0;
    content: ' \212A';
    right: 13px;
}

#STtemp {
    width: 70px;
}

.input-symbol-solar-diam {
    position: relative;
}

.input-symbol-solar-diam input {
    padding-left: 18px;
    vertical-align: 0%;

}

.input-symbol-solar-diam::after {
    position: absolute;
    top: 0;
    content: ' \2609';
    right: 11px;
}

#STdiam {
    width: 70px;
}

.input-symbol-solar-lumi {
    position: relative;
}

.input-symbol-solar-lumi input {
    padding-left: 18px;
    vertical-align: 0%;

}

.input-symbol-solar-lumi::after {
    position: absolute;
    top: 0;
    content: ' \2609';
    right: 11px;
}

#STlumi {
    width: 90px;
}