body {
    background-color: rgb(77, 55, 55);
    /* font-family: "Space Mono", monospace; */
}

.StarGenTable,
.StarGenTable tr,
.StarGenTable td,
.StarGenTable th {
    height: fit-content;
    width: fit-content;
    background-color: grey;
    border-collapse: collapse;
    border-style: solid;
    padding-left: 3px;
    padding-right: 3px;
    border-color: rgb(48, 48, 48);
}

.SpacingRow {
    border-style: none;
    background-color: rgb(77, 55, 55);
    font-size: 14px;
    text-align: center;
}

/*
.SectorLocationinput {
    width: 80px;
}

.IniitalSurveyinput {
    width: 80px;
}

.LastUpdatedinput {
    width: 80px;
}

.Designationinput {
    width: 80px;
}

.StellarAmountinput {
    width: 80px;
}

.GasGiantAmountinput {
    width: 80px;
}

.PlanetoidBeltAmountinput {
    width: 80px;
}

.TerrestrialAmountinput {
    width: 80px;
}

.ClassIIIinput {
    width: 80px;
}
*/

input {
    text-align: center;
}

.StarNameinput {
    width: 160px;
}

.SystemAgeinput {
    width: 75px;
}

.Componentinput {
    width: 75px;
}

.Classinput {
    width: 50px;
}

.Massinput {
    width: 60px;
}

.Temperatureinput {
    width: 60px;
}

.Diameterinput {
    width: 80px;
}

.Luminosityinput {
    width: 80px;
}

.Orbitinput {
    width: 80px;
}

.AUinput {
    width: 80px;
}

.Eccinput {
    width: 80px;
}

.Periodinput {
    width: 80px;
}

.MAOinput {
    width: 80px;
}

.HZCOinput {
    width: 80px;
}