/* @import url('https://fonts.cdnfonts.com/css/public-pixel');
font-family: 'Public Pixel'; */

body{
    background-image: url(../images/landingpage-background.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;
    
}
.marquee-top{
    color: aqua;
    font-size: 25px;
    font-family

}
.main-container{
    text-align: center;
}
.bubbles-text{
    color: rgb(81, 66, 245);
    font-size: 60px;
    text-align: center;
    padding-top: 250px;
}