@font-face {
    font-family: "pixels"; 
    src: url("VeniceClassic.ttf") format("truetype");
    /* or: */
    src: url("VeniceClassic.ttf") format("opentype"); /
}

body{
    background-image: url(../images/landingpage-background.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;
    
}
.marquee-top{
    color: aqua;
    font-size: 25px;

}
.main-container{
    padding-top: px;
    text-align: center;
}
.bubbles-text{
    color: rgb(81, 66, 245);
    font-size: 60px;
    text-align: center;
    padding-top: 250px;
}