.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
  }
body {
    background-color: #181716;
}
html {
    font-family: 'Courier New', Courier, monospace;
    color:#0000ee;
}
h1 {
    font-size: 25px;
}

h2 {
    text-align: center;
}

h6 {
    text-align: center;
}

p{
    font-weight: bold;
    font-size: 20px;
}

header{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.marqueeBar{
    border-style: inset;
    text-align: center;
    background-color: #666261;
    margin-top: 10;
    color:#080849
}
.topNav{
    background-color: gray;
    overflow: hidden;
}
.topNav a{
    float: inline-start;
    color: #0000ee;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.topNav a:hover{
    background-color: black;
    color:#0000ee
}

.frontpageContainer{
    background-color: gray;
    width: 700px;
    border: ridge gray 15px;
    padding: 50px;
    margin-top: 25px;
    margin-left: 480px;
}
.imageComputer{
    max-width: 100%;
    max-height: 100%;
}
.imageComputerText{
    padding-left: 20px;
}
.computerImgContainer{
    display: flex;
    align-items: center;
    justify-content: center
}
li{
    color:#0000ee;
    font-weight: bold;
    font-size: 20px;
}
.landingpageButton {
    color: #0000ee;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    background-color: gray;

}